* {
    font-family: 'Cutive', 'Noto Serif HK', 'Cutive Mono', serif;
}

* {
    text-align: center;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: #dc92f2;
}

.answer-text, .main-body-text {
    background-color: #f8dae9;
}
